cffi==1.16.0
contourpy==1.1.1
cycler==0.12.1
fonttools==4.47.2
importlib-resources==6.1.1
kiwisolver==1.4.5
matplotlib==3.7.4
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
numpy @ file:///C:/Users/dev-admin/mkl/numpy_and_numpy_base_1682982345978/work
packaging==23.2
pillow==10.2.0
PyAudio==0.2.14
pycparser==2.21
pyparsing==3.1.1
PySimpleGUI==4.60.5
python-dateutil==2.8.2
scipy==1.10.1
six==1.16.0
sounddevice==0.4.6
zipp==3.17.0
